h1 {
	font-size: 30px;
	border-bottom: 0rem solid #cccccc;
	margin-top: 2rem 0rem -10px 0px;
	padding-top: 20px;
}

h2 {
	margin: 0px auto;
	padding: 20px 0px;
}

h4 {
	margin: 1rem 20px;
	padding-top: 0pxi;
	padding-left: 1pxi;
	line-height: 1.2em;
}