h1 {
	font-size: 30px;
	font-size: 1.875rem;
	border-bottom: 0 solid #cccccc;
	margin-top: 32px 0 -10px 0;
	margin-top: 2rem 0 -0.625rem 0;
	padding-top: 20px;
	padding-top: 1.25rem;
}

h2 {
	margin: 0 auto;
	padding: 20px 0;
	padding: 1.25rem 0;
}

h4 {
	margin: 16px 20px;
	margin: 1rem 1.25rem;
	padding-top: 0;
	padding-left: 1px;
	line-height: 1.2em;
}